<div class="p-2 text-center text-dark mt-5">
    <h2>{{title}}</h2>
  </div>
  
  <main class="container">
    <div class="row">
      <div class="col-md-6 offset-md-4 col-lg-4 offset-lg-4 col-sm-8 offset-sm-1">
        <!-- <div class="bg-danger mt-2 p-2 text-center text-white"
          *ngIf='errorMessage != null'>
          {{ errorMessage }}
        </div> -->
        <form autocomplete='off' [formGroup]="form" (ngSubmit)="submit()" class="needs-validation">
        <fieldset class="form-group">
          <label for="username" class="fw-bold mb-2">Username:</label>
          <input type="text" class="form-control"
          formControlName="username"
           placeholder='Enter Username'
          id='username' required autofocus autocomplete='off'/>
          <small *ngIf="submitted && loginForm['username'].errors" class="p-error">
            Username is required!
          </small>
        </fieldset>
        <fieldset class="form-group mt-4">
          <label for="password" class="fw-bold mb-2">Password:</label>
          <input type="password" class="form-control"
          formControlName="password" placeholder='Enter Password'
          id='password' required autocomplete='off'>
          <small *ngIf="submitted && loginForm['password'].errors" class="p-error">Please enter a valid password!</small>
          <br/>
          <span class="small">or <a href="/register" class="link-primary">Register Here</a></span>
        </fieldset>
        <br/>
        <fieldset class="form-group text-right">
          <button class='btn btn-primary m-1' type='submit'>
            <i class="fas fa-sign-in-alt"></i>
            Log In
          </button>
          <button class='btn btn-secondary m-1' routerLink='/home' type="reset">
            <i class="fas fa-undo"></i>
            Cancel
          </button>
          <br/>
          <small *ngIf="submitted && authError" class="p-error">{{authError}}</small>
        </fieldset>
      </form>
      </div>
    </div>
  </main>
  