/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';

html, body { height: 100vh; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.body-wrapper{
    min-height: calc(100vh - 100px);
}

:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

  /* Custom CSS goes here */
body {
    padding-bottom: 70px;
}

table,input,textarea{
    font-size: 13px !important;
}

.navbar {
    height: 80px;
}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

table td {
    white-space: nowrap;
}